<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOG_LEVEL" source="jtrade.log.level" defaultValue="error"/>
    <springProperty name="LOG_HOME" source="jtrade.log.path" defaultValue="./log"/>
    
    <property name="outPattern"
        value="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{traceNo}] %logger{5} %M %L %msg%n"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${outPattern}</pattern>
        </encoder>
    </appender>
    
    <appender name="CORE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/front.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>60</MaxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${outPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
    </appender>
    
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CORE_FILE"/>
    </root>


</configuration>
